<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.highgreat.sven.processliving">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.KeepActivity" />

        <receiver android:name=".activity.KeepReceiver" />
        <service android:name=".service.ForegroundService" />
        <service android:name=".service.StickyService" />
        <service android:name=".jobscheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".doubleProcess.LocalService"
            android:exported="true"
            android:process=":local"/>
        <service android:name=".doubleProcess.LocalService$InnnerService"
            android:exported="true"
            android:process=":local"/>
        <service android:name=".doubleProcess.RemoteService"
            android:exported="true"
            android:process=":remote"/>
        <service android:name=".doubleProcess.RemoteService$InnnerService"
            android:exported="true"
            android:process=":remote"/>
        <service android:name=".doubleProcess.GuardService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>